# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
plan.json
crash.log
crash.*.log


# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock file (optional - usually KEEP this)
# .terraform.lock.hcl